@use "mixins" as m;
@use "variables" as var;

#about {
    height: 800px;
    text-align: center;

    #about-content {
        background-color: #151b26;
        @include m.panel-1;
    }

    ul {
        columns: 1;
        width: 500px;
        justify-content: center;
        padding-inline-start: 0;
        list-style-type: none;
        text-align: start;
        height: 100%;
        display: block;
    }
        li {
            img {
                width: 500px;
            }
        }
    }