@use "mixins" as m;
@use "variables" as var;

#about {
    overflow-x: hidden;
    height: 100vh;
    text-align: center;
    #about-content{
        columns: 2;
        justify-content: space-evenly;
        display: flex;
        margin-top: 90px;
    }
    .about-spheres{
        display: flex;
        flex-direction: column;
        &__image{
            position: absolute;
            z-index: 1001;
            left: 165px;
            top: 1330px;
            img{
                width: 600px;
            }
        }
        &__first{
            img{
                @include m.sphere;
                width: 50px;
                margin-right: 100px;
            }
        }
        &__second{
            img{
                @include m.sphere;
                width: 100px;
                margin-left: 100px;
            }
        }
        &__third{
            img{
                @include m.sphere;
                width: 150px;
                margin-right: 150px;
            } 
        }
        &__fourth{
            img{
                @include m.sphere;
                width: 200px;
            } 
        }
        li{
           margin-bottom: 20px; 
        }
    }
    .about-text-list{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 500px;
        text-align: left;
        list-style-type: disc;
        font-size: 25px;
        row-gap: 100px;
    }
}