@use "mixins" as m;
@use "variables" as var;
$total: 200;
$time: 10s;

#about {
    height: 850px;
    text-align: center;

    hr{
        position: relative;
        margin-top: -333px;
    }
    
    #about-content {
        background-color: #151b26;
        @include m.panel-1;
    }

    ul {
        columns: 1;
        width: 500px;
        text-align: start;
        justify-content: center;
        margin: 0 auto;
        padding-inline-start: 0;
        list-style-type: none;
        display: grid;
        row-gap: 60px;
        margin-top: 50px;

        li {
            margin: 0 auto;

            img {
                width: 500px;
                object-fit: contain;
            }
        }
    }
    
    #about-text-list {
        list-style-type: disc;
        font-size: 25px;
        width: 610px;
        margin-top: 0px;
    }
}