@use "mixins" as m;
@use "variables" as var;

#footer{
    overflow-x: hidden;
    height: 30vh;
    background-color: var.$primary;
    color: var.$bg;
    text-align: center;
    img{
        margin-top: 30px;
        width: 500px;
    }
    p{
        margin-top: 50px;
    }
}