@use "variables" as var;
@use "mixins" as m;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html {
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    background-color: var.$bg;
    color: var.$white;
    font-family: 'Noto Sans', sans-serif;
    a, a:visited, a:hover, a:active {
        color: inherit;
        text-decoration: inherit;
    }
    hr {
        @include m.hr;
    }
    h1{
        letter-spacing: 5px;
    }
}

h1 {
    font-size: 50px;
}

::marker {
    color: var.$primary;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,191,255,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,191,255,1);
    box-shadow: 0px 0px 15px 0px rgba(0,191,255,1);
}

::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar {
    width: 5px!important;
    background-color: transparent!important;
}
::-webkit-scrollbar-thumb {
    background: #00bbff;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px!important;
    height: 20px!important;
    background-color: #00bbff!important;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0,0,0,.4) 50%,transparent,transparent)!important;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-track {
    border-radius: 10px!important;
    background-color: transparent!important;
}

/* Shapedivider */

.custom-shape-divider-top-1665662034 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1665662034 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1665662034 .shape-fill {
    fill: #00BFFF;
}

.custom-shape-divider-bottom-1665662272 {
    position: relative;
    top: 17.3vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665662272 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1665662272 .shape-fill {
    fill: #00BFFF;
}