@use "variables" as var;

.ChosenContent {
    display: flex;
    flex-direction: row;
    height: 100%;

    @media (max-width: 550px) {
        flex-direction: column;
    }
}

.slogan-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 30px;

    @media (max-width: 640px) {
        flex-direction: column;
    }

    @media (max-width: 400px) {
        row-gap: 15px;
        margin-bottom: 15px;
        margin-top: 0px;
      }
}