@use "index.scss";
@use "variables" as var;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: dark;
    color: #ffffff;
    background-color: var.$bg;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }

    ::marker {
        color: var.$primary;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,191,255,1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,191,255,1);
        box-shadow: 0px 0px 15px 0px rgba(0,191,255,1);
    }
    
    ::-webkit-scrollbar {
        width: 0.5em;
    }
    ::-webkit-scrollbar {
        width: 5px!important;
        background-color: transparent!important;
    }
    ::-webkit-scrollbar-thumb {
        background: #00bbff;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px!important;
        height: 20px!important;
        background-color: #00bbff!important;
        background-image: -webkit-linear-gradient(90deg,transparent,rgba(0,0,0,.4) 50%,transparent,transparent)!important;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px!important;
    }

    body {
        min-height: 100vh;
        max-height: 100vh;
        position: relative;
        margin: 0;
        overflow: hidden;
        padding: 1px 0;
        
        &::before {
            content: "";
            background: url("../assets/images/bg.svg") no-repeat center center;
            background-size: cover;
            opacity: 0.33;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;  
        }

        h1{
            font-family: jason;
        }

        h2, h3{
            font-family: Outfit-Medium;
        }

        p{
            font-family: Outfit-Regular;
        }
    }
}

@font-face {
    font-family: jason;
    src: url("../assets/fonts/jason.woff") format("opentype");
}

@font-face {
    font-family: Outfit-ExtraLight;
    src: url("../assets/fonts/Outfit-ExtraLight.woff") format("opentype");
}

@font-face {
    font-family: Outfit-Light;
    src: url("../assets/fonts/Outfit-Light.woff") format("opentype");
}

@font-face {
    font-family: Outfit-Medium;
    src: url("../assets/fonts/Outfit-Medium.woff") format("opentype");
}

@font-face {
    font-family: Outfit-Regular;
    src: url("../assets/fonts/Outfit-Regular.woff") format("opentype");
}

@font-face {
    font-family: Outfit-SemiBold;
    src: url("../assets/fonts/Outfit-SemiBold.woff") format("opentype");
}

@font-face {
    font-family: Outfit-Thin;
    src: url("../assets/fonts/Outfit-Thin.woff") format("opentype");
}